* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
}
.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.item {
  width: auto;
  height: 50px;
  border-radius: 10px;
  box-shadow: 0 5px 7px 0;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #636363;
  text-align: center;
}
